
.pagination-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-button:hover {
    background-color: #ececec;
  }
  
  .pagination-button:disabled {
    color: #ccc;
    cursor: not-allowed;
    background-color: #f8f8f8;
  }
  
  .active {
    background-color: #007bff; 
    color: #007bff; 
    border-color: #007bff; 
  }
  
  .pagination-button:first-child,
  .pagination-button:last-child {
    background-color: transparent;
    border-color: #ddd;
  }
  
  .pagination-button:nth-last-child(2) {
    background-color: transparent;
    border-color: transparent;
    cursor: default;
  }
  