.product-detail-card {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .product-detail-image {
    background-color: #ccc;
    height: 500px; 
    margin-right: 16px;
  }
  
  .product-detail-info {
    flex: 1;
  }
  
  .product-detail-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .product-detail-price {
    color: #007bff;
    margin: 8px 0;
    font-weight: 500;
    font-size:25px;

  }
  
  .product-detail-add-to-cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 8px 0;
    transition: background-color 0.2s ease;
    width: 80%;
  }
  
  .product-detail-add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  
  .product-detail-description {
    color: #666;
    line-height: 1.6;
    width: 90%;
  }
  
  .product-detail-name{
    font-weight: 500;
    font-size:25px;
  }